<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Administrar:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">sell</i> Marcas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">palette</i> Colores
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive tab-content">
                            <div class="table-responsive tab-pane active" id="profile"> 
                                <table mat-table [dataSource]="dataSource" matSort class="table-responsive mat-elevation-z8">
                                    <ng-container matColumnDef="id">
                                      <th class="text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                      <td mat-cell *matCellDef="let element"> <a class="link">{{element.id}}</a>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                      <th class="text-primary" mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
                                      <td mat-cell *matCellDef="let element">
                                          <a class="link">{{element.name}}</a>
                                        <!-- <mat-chip-list aria-label="Fish selection">
                                            <mat-chip>One fish</mat-chip>
                                            <mat-chip color="primary" selected>Primary fish</mat-chip>
                                            <mat-chip color="accent" selected>Accent fish</mat-chip>
                                          </mat-chip-list> -->
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <th class="text-primary" mat-header-cell  *matHeaderCellDef > Acción </th>
                                        <td mat-cell *matCellDef="let row" >
                                            <!-- <button mat-icon-button class="btn-sm" color="success" aria-label="Example icon button with a menu icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-icon-button class="btn-sm" color="warn" aria-label="Example icon button with a menu icon">
                                                <mat-icon>delete</mat-icon>
                                            </button> -->
                                            
                                            <button mat-flat-button class="btn btn-just-icon btn-success btn-sm"><i class="material-icons">edit</i></button>
                                            &nbsp;<button mat-flat-button class="btn btn-just-icon btn-danger btn-sm"><i class="material-icons">delete</i></button>
                                           
                                            <!-- <button mat-icon-button class="btn btn-just-icon btn-danger btn-sm"><i class="material-icons">delete</i></button> -->
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table mat-table [dataSource]="dataSrc" matSort class="table-responsive mat-elevation-z8">
                                    <ng-container matColumnDef="id">
                                      <th class="text-rose" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                      <td mat-cell *matCellDef="let eleme"> <a class="link">{{eleme.id}}</a>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="weight">
                                      <th class="text-rose" mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                                      <td mat-cell *matCellDef="let eleme"> {{eleme.weight}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <th class="text-rose" mat-header-cell  *matHeaderCellDef > Acción </th>
                                        <td mat-cell *matCellDef="let row" >
                                             <!-- <button mat-icon-button class="btn btn-just-icon btn-default btn-sm"><i class="material-icons">edit</i></button>
                                             <button mat-icon-button class="btn btn-just-icon btn-default btn-sm"><i class="material-icons">delete</i></button> -->
                                             <button mat-icon-button class="btn btn-just-icon btn-default btn-sm"><i class="material-icons">edit</i></button>
                                     &nbsp;<button mat-icon-button class="btn btn-just-icon btn-default btn-sm"><i class="material-icons">delete</i></button>
                                    
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>