<h1 mat-dialog-title> {{ accion }} empleado</h1>

<mat-dialog-content class="row">
    <form [formGroup]="formInstance">
        <div class="row">
            <div id="idEmp" class="col-md-12">
                <mat-form-field appearance="fill">
                    <mat-label> Username </mat-label>  
                    <input class="form-control" formControlName="idEmpleado" matInput placeholder="Escriba aquí sus nombres completos" type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">            
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label> Nombre </mat-label>  
                    <input class="form-control" formControlName="nombre" matInput placeholder="Escriba aquí sus nombres completos" type="text">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label> Apellido </mat-label> 
                    <input class="form-control" formControlName="apellido" matInput placeholder="Escriba aquí sus apellidos completos" type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">            
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label> Correo </mat-label>  
                    <input class="form-control" formControlName="correo" matInput placeholder="" type="email">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label> Cédula </mat-label>  
                    <input class="form-control" formControlName="cedula" matInput placeholder="example@mail.com" type="text">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<div class="pull-right" mat-dialog-actions>
    <button id="cancelarbtn" mat-button mat-dialog-close class="btn btn-danger" cdkFocusInitial>Cancelar</button>
    <button id="aceptarbtn" mat-button mat-dialog-close class="btn btn-primary">Aceptar</button>
    <button (click)="accion === 'Agregar' ? guardarEmpleado() : editarEmpleado(data.idEmpleado)" id="guardarbtn" mat-button class="btn btn-success"> Guardar</button>
</div>