section {
    display: inline-block;
    width: 100%;
  }
  
  .example-label {
    /* display: table-cell; */
    font-size: 14px;
    margin-left: 8px;
    /* min-width: 200px; */
    float: right;
  }
  
  .example-button-row {
    /* display: table-cell; */
    /* width: 690px; */
    float: left;
  }

  input:-webkit-autofill {
    box-shadow: none !important;
    -webkit-box-shadow: 0 0 0px 1000px #00000000 inset !important;

}
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }