<!-- <h1 style="text-align:center">
    Bienvenido a {{ title }}
  </h1>
  <div>
    <p>Ingrese nombre<input type="text" [(ngModel)]="nombre"></p>
   </div>
  <div>
    <p>{{contador}}</p>
    <button (click)="incrementar()">Sumar 1</button>
    <button (click)="decrementar()">Restar 1</button>
  </div>
  <div>
    <p>Nombre del Empleado:{{nombre}}</p>
    <p>Edad:{{edad}}</p>  
    <p>Los últimos tres sueldos son: {{sueldos[0]}}, {{sueldos[1]}} y {{sueldos[2]}}</p>
    <p>En los últimos 3 meses ha ganado: {{ultimos3Sueldos()}}</p>
    <p>{{esActivo()}}</p>
    <p>El empleado dentro de 5 años tendrá:{{edad+5}}</p>
    <p>Puede visitar el sitio ingresando <a href="{{sitio}}">aquí</a></p>
    <p *ngIf="edad>=18; else menor">Es mayor de edad.</p>
  <ng-template #menor><p>Es un menor de edad.</p></ng-template>
  <table border="1">
    <tr>
      <td>Sueldos</td>
    </tr>
    <tr *ngFor="let sueldo of sueldos">
      <td>{{sueldo}}</td>
    </tr>
  </table>
  </div> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<app-footer></app-footer>
 -->
 <!-- <div class="page-content">
  <div class="row">
  <div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
      <app-sidebar></app-sidebar>
    </div>
  </div>

<div class="col-md-10">
   <div class="row"> -->
    <!-- <div > -->
      <!-- <app-navbar></app-navbar> -->
    <!-- </div> -->
    
    <!-- <div class="col-md-10">
      <router-outlet></router-outlet>
    </div> -->
  <!-- </div> -->
  <!-- <app-footer></app-footer>
</div>
</div> -->

<!-- </div> --> 

<!-- <div class="d-flex">
 <app-sidebar></app-sidebar>
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>
  </div>
  <app-footer></app-footer>
</div> -->


<div class="wrapper">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
      <app-sidebar></app-sidebar>
      <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
      <!-- <router-outlet></router-outlet> -->
      <div >
          <app-footer></app-footer>
      </div>
  </div>
</div>
<div class="modal modal-angular fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="margin-top">
                  Free Version
              </h4>
              <div class="separator"></div>
              <a href="https://www.creative-tim.com/product/material-dashboard" class="modal-button" target="_blank">
                  <div class="wrapper-card">
                      <div class="image-container">
                          <img src="./assets/img/7.png" alt="unloaded">
                      </div>
                      Html5
                      <div class="separator"></div>
                      <div class="product-type">
                          FREE
                      </div>
                  </div>
              </a>
              <a href="https://www.creative-tim.com/product/material-dashboard-angular2" class="modal-button" target="_blank">
                  <div class="wrapper-card">
                      <div class="image-container image-angular-cli">
                          <img src="../assets/img/7.png" alt="unloaded">
                      </div>
                      Angular
                      <div class="separator"></div>
                      <div class="product-type">
                          FREE
                      </div>
                  </div>
              </a>
              <h4>
                  PRO Version
              </h4>
              <div class="separator"></div>
              <a href="https://www.creative-tim.com/product/material-dashboard-pro" class="modal-button" target="_blank">
                  <div class="image-container">
                      <img src="./assets/img/7.png" alt="unloaded">
                  </div>
                  Html5
                  <div class="separator"></div>
                  <div class="price">
                      from
                      <span>
                          49
                          <i class="fa fa-usd" aria-hidden="true"></i>
                      </span>
                  </div>
              </a>
              <a href="https://www.creative-tim.com/product/material-dashboard-pro-angular2" class="modal-button" target="_blank">
                  <div class="image-container image-angular-cli">
                      <img src="./assets/img/7.png" alt="unloaded">
                  </div>
                  Angular
                  <div class="separator"></div>
                  <div class="price">
                      from
                      <span>
                          59
                          <i class="fa fa-usd" aria-hidden="true"></i>
                      </span>
                  </div>
              </a>
          </div>
      </div>
  </div>
  
  </div>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <button type="button" class="btn btn-primary" id="menu-toggle"><i class="fas fa-camera" ></i>hvh</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->