<h1 mat-dialog-title>Detalle de producto</h1>
<mat-dialog-content class="row">
    <!-- <div class="col-md-12">
      <mat-form-field appearance="outline">                           
          <mat-label> ID </mat-label>  
          <input class="form-control" matInput placeholder="Cédula (disabled)" disabled>
        </mat-form-field>
    </div> -->
    <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="outline">
        <mat-label> Nombre </mat-label>  
        <input class="form-control" matInput placeholder="Escriba aquí sus nombres completos" type="text">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label> Precio </mat-label> 
        <input class="form-control" matInput placeholder="Escriba aquí sus apellidos completos" type="text">
      </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field appearance="outline">                                    
          <mat-label> Medida </mat-label>  
          <input class="form-control" matInput placeholder="" type="text">
        </mat-form-field>
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label> Stock </mat-label>  
          <input class="form-control" matInput placeholder="example@mail.com" type="email">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label> Categoría </mat-label>  
          <input class="form-control" matInput placeholder="example@mail.com" type="email">
        </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label> Color </mat-label>  
          <input class="form-control" matInput placeholder="example@mail.com" type="email">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label> Marca </mat-label>  
          <input class="form-control" matInput placeholder="example@mail.com" type="email">
        </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<!-- <div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div> -->
<!-- <div mat-dialog-actions>
  <button mat-button mat-dialog-close >Close</button>
</div> -->

<div class="pull-right" mat-dialog-actions>
  <button mat-button class="bg-danger btn-danger">Cancelar</button>
  <button mat-button mat-dialog-close class="bg-success btn-success" cdkFocusInitial>Aceptar</button>
</div>