/* You can add global styles to this file, and also import other style files */
img {
    margin: auto;
    display: block;
  }
  
  .txt{
    text-align: center;
  }

  .green-snackbar {
    background: #8bc34a;
    color: white;
}
.green-snackbar button {
    background-color: #8bc34a;
    color: white;
    border: none;
}
.red-snackbar {
    background: #F44336;
    color: white;
}
.red-snackbar button {
    background-color: #F44336;
    color: white !important;
    border: none;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 10000 !important;
}