section {
    display: inline-block;
    width: 100%;
  }
  
  .example-label {
    /* display: table-cell; */
    font-size: 14px;
    margin-left: 8px;
    /* min-width: 200px; */
    float: right;
  }
  
  .example-button-row {
    /* display: table-cell; */
    /* width: 690px; */
    float: left;
  }
  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  th{
    font-size: 0.95rem;
}
  /* .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 220px;
  } */